@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.card {
    border-radius: 8px;
    padding: toRem(32);
    padding-top: toRem(26);
    position: relative;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);

    &__intro {
        margin-bottom: toRem(16);
        margin-top: toRem(18);
        z-index: 2;
        position: relative;
    }

    &__text {
        opacity: .7;
    }
}

.user {
    display: flex;
    align-items: center;

    &__image{
        width: toRem(28);
        height: toRem(28);
        border-radius: 50%;
        margin-right: toRem(17);
    }

    &__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name {
        margin-bottom: 4px;
        line-height: 1;
    }

    .border-purple {
        border: 2px solid #A775F1;
    }
    .border-purple-dark {
        border: 2px solid #733FC8;
    }
}

.quote::after {
    content: url('./../images/bg-pattern-quotation.svg');
    height: toRem(102);
    width: toRem(104);
    position: absolute;
    top: 0;
    right: toRem(24);
    z-index: 0;

    @include mq {
        @media ($break-m) {
            right: toRem(80);
        }
    }
}